<div class="product-grid-section__item {{ grid-class }}">
  <a href="{{- product.url -}}">
    <img src="{{- featured-image | img_url: '1024x'-}}" class="product-grid-section__image"/>
  </a>
  <div class="product-grid-section__product-info">
    <p class="product-grid-section__product-title">
      {% if section.settings.products_per_row > 3 %}
        <a href="{{- product.url -}}">{{- product.title | truncatewords: 6, ""-}}</a>
      {% else %}
        <a href="{{- product.url -}}">{{- product.title -}}</a>
      {% endif %}
    </p>
    <p class="product-grid-section__product-price">{{- product.price | money -}}</p>
  </div>
</div>
