<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#lightSlider").lightSlider({
      item: 1,
      autoWidth:false,
      adaptiveHeight: true
    });
  });
</script>

<div class="hero-slider-section">
  <div class="">
    <ul id="lightSlider">
      {% for block in section.blocks %}
        <li id="slide--{{block.id}}" class="hero-slider-section__slide"
          style="{% if block.settings.image %}background-image: url({{ block.settings.image |  img_url: 'master' }});{% endif %}
                height: {{block.settings.slider_height}}px;
                background-position: {{block.settings.background_position_x}} {{block.settings.background_position_y}};
                background-color: {{block.settings.background_color}};
        ">
          <div class="hero-slider-section__caption-wrapper">
            <div class="hero-slider-section__caption-inner">
              {% if block.settings.title != 'blank' %}
                <h2 class="hero-slider-section__title">
                  {{ block.settings.title }}
                </h2>
              {% endif %}
              {% if block.settings.subheading != 'blank' %}
                <p class="hero-slider-section__subtitle">
                  {{ block.settings.subtitle }}
                </p>
              {% endif %}
              {% if block.settings.button_link_url != blank %}
                <div class="hero-slider-section__button btn">
                  <a href="{{ block.settings.button_link_url }}">
                    {{ block.settings.button_text }}
                   </a>
                </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<style>
  .hero-slider-section__slide {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

{% schema %}
{
  "name": "Hero Slider",
  "class": "section-hero-slider",
  "settings": [

  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "slider_height",
          "min": 200,
          "max": 800,
          "step": 10,
          "unit": "px",
          "label": "Slider Height",
          "default": 500
        },
        {
          "type": "select",
          "id": "background_position_x",
          "options": [
            { "value": "left", "label": "Left"},
            { "value": "center", "label": "Center"},
            { "value": "right", "label": "Right"}
          ],
          "label": "Background Horizontal Position",
          "default": "center"
        },
        {
          "type": "select",
          "id": "background_position_y",
          "options": [
            { "value": "top", "label": "Top"},
            { "value": "center", "label": "Center"},
            { "value": "bottom", "label": "Bottom"}
          ],
          "label": "Background Vertical Position",
          "default": "center"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub-Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "button_link_url",
          "label": "Button Link URL"
        }
      ]
    }
  ],
  "max_blocks": 6
}

{% endschema %}
