<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% assign collection = collections[section.settings.collection] %}

<div class="product-grid-section">
  {% if section.settings.title != blank %}
    <h2 class="product-grid-section__title">{{section.settings.title}}</h2>
  {% endif %}
  <div class="col-xs-12">
    {% for product in collection.products %}
      {% assign featured-image = product.featured_image %}
      <div class="product-grid-section__item col-md-4">
        <a href="{{product.url}}">
          <img src="{{featured-image | img_url }}" class="product-grid-section__image"/>
        </a>
        <div class="product-grid-section__product-info">
          <a href="{{product.url}}">
            <p class="product-grid-section__product-title">{{product.title | truncatewords: 6}}</p>
          </a>
          <div class="product-grid-section__product-price">
            {% if product.price_varies %}
              <span>{{ product.price_min | money }}</span> - <span>{{ product.price_max | money }}</span>
            {% else %}
              <span>{{ product.price | money }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .product-grid-section__title {
    text-align: center;
  }
  .product-grid-section__item {
    margin-bottom: 30px;
  }
  .product-grid-section__image {
    width: 100%;
  }

  .product-grid-section__product-title {
    text-transform: uppercase;
  }
</style>

{% schema %}
{
  "name": "Product Grid",
  "class": "section-product-grid",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Section Title",
      "default": "Featured Collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ]
}

{% endschema %}
